{
  "instance-id": "{{ vm_name }}",
  "local-hostname": "{{ vm_name }}",
  "network": {
    "version": 2,
    "ethernets": {
      "id0": {
        "match": {
          "macaddress": "{{ vm_deploy_result.instance.hw_eth0.macaddress }}"
        },
        "dhcp4": false,
        "addresses": [
          "192.168.14.2/24"
        ],
        "gateway4": "192.168.14.1",
        "nameservers": {
          "search": [
            "nforce-it.nl",
            "nforce-it.local"
          ],
          "addresses": [
            "8.8.8.8"
          ]
        }
      }
    }
  }
}
