{
  "instance-id": "{{ vm_name }}",
  "local-hostname": "{{ vm_name }}",
  "network": {
    "version": 2,
    "ethernets": {
      "ens192": {
        "match": {
          "macaddress": "{{ vm_deploy_result.instance.hw_eth0.macaddress }}"
        },
        "addresses": [
          "10.211.55.101/24"
        ],
        "gateway4": "10.211.55.1",
        "nameservers": {
          "search": [
            "nforce-it.nl",
            "nforce-it.local"
          ],
          "addresses": [
            "8.8.8.8"
          ]
        }
      }
    }
  }
}
